/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* NAVIGATION */
  header {
    flex-direction: column;
  }

  nav {
    width: 100%;
    gap: 0;
  }

  nav a {
    display: block;
    padding-bottom: 13px;
    padding-top: 0;
    border-bottom: 2px solid transparent;
    border-top: 0;
    height: 19px;
    text-align: center;
    width: 100%;
  }

  nav a:hover {
    color: var(--main-color);
    border-bottom: 2px var(--main-color) solid;
    border-top: 0;
  }

  main {
    padding: 0;
  }
  /* SECTION RECHERCHE */
  .search-section {
    padding: 0 20px;
  }

  .search {
    border: 1px solid var(--Grey, #f2f2f2);
    border-radius: 15px;
  }

  #city-search {
    flex: 1;
    border: transparent;
  }

  .button-search {
    border-radius: 15px;
    border: 1px solid var(--Blue, #0065fc);
    background: var(--Blue, #0065fc);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .rechercher {
    display: none;
  }

  .button-search i {
    display: block;
    color: white;
  }

  .filters ul {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    gap: 10px;
    padding-left: 0;
    margin: 0;
  }

  .filters li {
    font-size: 14px;
    width: 48%;
  }

  /* HEBERGEMENT ET POPULAIRES */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    padding: 30px 20px;
    border-radius: 0;
  }

  .populaires {
    margin-top: 0;
  }

  .populaires-cards {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  .populaires-cards .card {
    margin: 0;
    padding: 5px 10px 5px 5px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card-rating {
    margin-bottom: 0;
  }

  .hebergements {
    background-color: transparent;
  }
  .hebergements-cards {
    flex-direction: column;
    gap: 15px;
  }

  .hebergements-cards a {
    width: 100%;
  }
  /* ACTIVITES MARSEILLE */
  .activites-marseille {
    padding: 30px 20px;
  }
  .activites {
    padding: 0;
  }
  .activites-cards {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  .activites-cards a {
    width: 100%;
  }

  .activites-marseille .card {
    margin-top: 0;
    padding: 0;
  }

  .activites-cards img {
    height: 141px;
  }

  .activites-cards .card-content {
    height: 50px;
  }

  .afficherplus {
    display: block;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;
  }

  /* FOOTER */

  .footer-container {
    flex-direction: column;
    padding: 30px 20px;
    gap: 50px;
  }

  .footer-column {
    padding: 0;
  }
}
