/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

main {
  padding: 0 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  gap: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logonav {
  display: flex;
  padding: 30px 50px;
}

header img {
  height: 19px;
}

nav {
  display: flex;
  height: 100%;
  gap: 68px;
}

nav a {
  display: block;
  padding-top: 14px;
  border-top: 3px solid transparent;
  height: 35px;
  text-align: center;
}

nav a span {
  align-self: flex-end;
}

nav a:hover {
  color: var(--main-color);
  border-top: 3px var(--main-color) solid;
}

a {
  color: inherit;
  text-decoration: none;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  color: #000;
  margin: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle {
  color: #000;
  margin: 0;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.search {
  display: flex;
}

.locationicon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.locationicon .fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 50px;
  height: 49px;
  align-self: center;
  flex-shrink: 0;
}

#city-search {
  border: 1px solid var(--Grey, #f2f2f2);
  text-align: center;
  color: var(--Black, #000);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button-search {
  background-color: #0065fc;
  border: transparent;
  border-radius: 0 15px 15px 0;
  padding: 15px 16px 15px;
  color: var(--White, #fff);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 15px;
  color: var(--Black, #000);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.filters ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding-left: 0;
}

.filters-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.filters-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 19px 4px;
  height: 35px;
  border-radius: 30px;
  border: 2px solid var(--Grey-Tint2, #d9d9d9);
}

.filters-button:hover {
  background-color: var(--filter-bg-color);
}

.button-search i {
  display: none;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.info p {
  margin: 0;
  flex: 1 0 0;
}

.infoicon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border: 1px var(--filter-bg-color) solid;
  border-radius: 50%;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.hebergements-cards a {
  width: calc(33% - 20px);
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-bottom: 15px;
  align-items: center;
  gap: 4px;
}

.hebergements-cards .card-content {
  flex-grow: 1;
  display: flex;
  padding: 0px 15px;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
}

.card-content p {
  margin: 0;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* ACTIVITES MARSEILLE */

.activites {
  padding: 30px;
}

.activites-marseille .card {
  margin-top: 30px;
  padding: 0;
}

.activites-cards {
  display: flex;
  gap: 30px;
  flex-grow: 1;
}

.activites-cards a {
  width: calc(33% - 20px);
}

.activites-cards .card-title {
  padding: 20px 19px 20px;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

/* FOOTER CSS */

footer {
  display: flex;
  background-color: var(--main-bg-color);
}

footer ul {
  padding-left: 0;
  list-style-type: none;
}

footer li {
  margin: 15px 0 15px;
}

h3 {
  margin: 0;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-container {
  display: flex;
  width: 100%;
}

.footer-column {
  padding: 20px;
  gap: 15px;
  flex-grow: 1;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filters {
    display: flex;
    flex-direction: column;
  }

  .filters p {
    margin: 0;
    align-self: flex-start;
  }

  .filters ul {
    display: flex;
    align-self: flex-start;
    gap: 15px;
    padding-left: 0;
    margin: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activites-marseille .card {
    margin-top: 30px;
    padding: 0;
  }

  .activites-cards img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }

  .activites-cards .card-content {
    display: flex;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  header {
    flex-direction: column;
  }

  nav {
    display: flex;
    width: 100%;
    gap: 0;
  }

  nav a {
    display: block;
    padding-bottom: 13px;
    padding-top: 0;
    border-bottom: 2px solid transparent;
    border-top: 0;
    height: 19px;
    text-align: center;
    width: 100%;
  }

  nav a:hover {
    color: var(--main-color);
    border-bottom: 2px var(--main-color) solid;
    border-top: 0;
  }

  main {
    padding: 0 20px;
  }

  .search {
    border: 1px solid var(--Grey, #f2f2f2);
    border-radius: 15px;
  }

  #city-search {
    flex: 1;
    border: transparent;
  }

  .button-search {
    border-radius: 15px;
    border: 1px solid var(--Blue, #0065fc);
    background: var(--Blue, #0065fc);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .rechercher {
    display: none;
  }

  .button-search i {
    display: block;
    color: white;
  }

  .filters ul {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    gap: 10px;
    padding-left: 0;
    margin: 0;
  }

  .filters li {
    font-size: 14px;
    flex: 25%;
  }
}
